.paginaContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.conteudoPrincipal {
  padding: 20px;
  margin-left: 240px; 
  overflow-y: auto;
}

.saudacaoCentralizada {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black; 
  margin-top: 20px; 
}

.nomeDestaque {
  color: #A7C4E7; 
}

.linhaConteudo {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
